
@{
    ViewData["Title"] = "HTML Forms Example";
}

<h1>HTML Forms Example</h1>

<form method="post">
    <Label for="full-name">Full Name:</Label>
    <input type="text" name="full-name" id="full-name" value="" />
    <span>*</span>
    <br />

    <label for="dob">Date of Birth:</label>
    <input type="date" name="dob" id="dob" value""/>
    <span>*</span>
    <br />

    <label for="fav-number">Favorite Number:</label>
    <input type="text" name="fav-number" id="fav-number" value=""/>
    <span>*</span>
    <br />

    <input type="submit" value="Add Student"
           class="btn btn-primary"/>
</form>